<main id="main" style="text-align: center;">
  <article>
      <header>
          <h1 style="font-size:35px;color:#a593c2">Bienvenue à notre boutique !</h1>
      </header>
      <figure>
          <img src="/assets/images/cakes.jpg" width="600" alt="La vitrine de notre boutique" />
          <figcaption>Vitrine de la boutique Cake's shop</figcaption>
                    </figure>
      <h2>Notre histoire</h2>

<p>Pendant de nombreuses années, <b>Cake Shop</b> a préparé les gâteaux les plus délicieux chez eux en Tunisie.
En 2013, nous avons ouvert notre première boutique dans une petite rue charmante au cœur de Tunis.
Les gens du monde entier sont tombés amoureux de nos moelleux gâteaux, nos cheesecakes divins et nos tartes aux
pommes épicées...
La boutique a rapidement connu un grand succès.</p>

<br> 
<p>
En 2015, pas moins de 100 gâteaux étaient vendus chaque jour, et <b>Cake Shop</b> a déménagé dans un espace plus grand
pour répondre à la <i>demande croissante</i>.
Suite à de nombreuses demandes, il est devenu évident que la prochaine étape était de permettre à chacun de
commander nos gâteaux depuis chez eux, et ce, de n'importe où dans le monde.
Vous découvrez maintenant le résultat de ce projet : notre propre boutique en ligne, vous permettant de
commander les délicieux gâteaux de <b>Cake Shop</b> à tout moment !
</p>

<hr>
<section id="promos"> 
<h3 style="font-family:verdana;" >&nbsp;Nos promotions hebdomadaires</h3>
<div class="promoted">
    <img src="/assets/images/cheesecake.jpeg" alt="Cheesecake" />
          <div class="promo-text">
      <div class="promo-main-text">Discover our offers!</div>
      <div class="promo-sub-text cta">
        <div>SAVE UP TO 20%</div>
        <div>ON DIFFERENT PASTRIES</div>
        <button [routerLink]="['/promotions']" class="view-products-button">View Discounts</button>
      </div>
    </div>
    <img src="/assets/images/products/strawberrycheesecakesmall.jpg" alt="Strawberry cheesecake" />
      </div>
</section>
</article>
</main>